* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* FULL SCREEN BACKGROUND FIX */
body {
    font-family: Times New Roman;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("git.png");
    background-repeat: no-repeat;

    background-size: 100% 100%;   /* 👈 FORCE FULL FILL */
    background-position: top left;
}

/* Container */
.container {
    text-align: center;
}

/* Heading */
h2 {
    color: black;
    margin-bottom: 20px;
}

/* Box */
.box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

/* Input & Button */
input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
