body {
    font-family: Arial;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: flex-end;  /* move content to right */
    align-items: center;

    /* Background Image */
    background-image: url('git.png');
    background-size: cover;
    background-position: left top; /* 👈 shows top + left part */
    background-repeat: no-repeat;
}

/* Content Box */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    margin-right: 100px; /* 👈 pushes from right edge */
}

/* Input & Button */
input, button {
    padding: 10px;
    margin: 5px;
}
